@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/");
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
}

.weather__page {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.weather__sunny {
  background: url("../../img/bg-sunny.jpg") 0 0/cover no-repeat;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 65px 60px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.header__city {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__img {
  width: 100px;
}

.header__degrees {
  font-size: 96px;
  font-weight: 300;
}

.header__weather {
  font-size: 24px;
}

.main {
  margin-top: 80px;
}

.main__title {
  font-size: 24px;
}

.weather__items {
  margin-top: 33px;
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.weather__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  max-width: 160px;
  width: 100%;
  height: 168px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.weather__item--today {
  background-color: rgba(255, 255, 255, 0.25);
}
.weather__item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.weather__day {
  font-size: 18px;
}

.weather__img {
  max-width: 50px;
  width: 100%;
}

.weather__degrees {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.weather__day-degrees {
  font-size: 24px;
  line-height: 1.3;
}

.weather__night-degrees {
  font-size: 18px;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.footer__details {
  display: flex;
  gap: 80px;
}

.footer__title {
  font-size: 24px;
  margin-bottom: 8px;
}

.footer__items {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  padding-top: 24px;
}

.footer__sunrise {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.footer__item {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.item__title {
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 16px;
}

.item__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item__text {
  font-size: 24px;
  font-weight: 300;
}

.item__img {
  max-width: 50px;
  width: 100%;
  height: auto;
}
.item__img--wind {
  max-width: 16px;
}