@import 'nullstyle';
@import 'fonts';
@import 'skeleton';

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    height: 100%;
    overflow-x: hidden;
}
.skeleton img{
    display: none;
}
.invisible{
    opacity: 0;
    visibility: hidden;
}
// weather page

.weather__page {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.weather__sunny{
    background: url('../../img/bg-sunny.jpg') 0 0/auto no-repeat;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 60px 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather__form{
    margin-bottom: 40px;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    transition: background-color .2s ease-in-out;
    &.error__input{
        background-color: #ff2f2f;
    }
}
.weather__input{
    max-width: 400px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    padding: 0 20px;
    opacity: .7;
    font-size: 20px;
    transition: opacity .1s linear;
    &:focus{
        opacity: 1;
    }
}
.weather__submit{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #00ff77;
    transition: background-color .2s linear, opacity .2s linear, visibility .2s linear;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        bottom: 16px;
        right: 23px;
        height: 26px;
        width: 2px;
        transform: rotate(30deg);
        background-color: #000;
        border-radius: 1px;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 16px;
        right: 34px;
        height: 20px;
        width: 2px;
        background-color: #000;
        transform: rotate(-30deg);
        border-radius: 1px;
    }

}
.header__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.header__city {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}
.header__main {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__img {
    width: 100px;
}
.header__degrees {
    font-size: 96px;
    font-weight: 300;
}
.header__weather {
    font-size: 24px;
}

// main

.main {
    margin-top: 80px;
}
.main__title {
    font-size: 24px;
}
.weather__items {
    margin-top: 33px;
    display: flex;
    align-items: stretch;
    gap: 30px;
}
.weather__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    max-width: 160px;
    width: 100%;
    height: 168px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color .2s linear;
    &--today{
        background-color: rgba(255, 255, 255, 0.25);
    }
}
@media(min-width: 767px){
    .weather__item:hover{
        background-color: rgba(255, 255, 255, 0.25);
    }
}
.weather__day {
    font-size: 18px;
}
.weather__img {
    max-width: 50px;
    width: 100%;
}
.weather__degrees {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}
.weather__day-degrees {
    font-size: 24px;
    line-height: 1.3;
}
.weather__night-degrees {
    font-size: 18px;
    opacity: .5;
}
// footer
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer__details{
    display: flex;
    gap: 80px;
}
.footer__title {
    font-size: 24px;
    margin-bottom: 8px;
}
.footer__items {
    border-top: 1px solid rgba(255, 255, 255, .25);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    padding-top: 24px;
}
.footer__sunrise{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.footer__item {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    width: auto;
}
.item__title {
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 16px;
}
.item__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item__text {
    font-size: 24px;
    font-weight: 300;
}
.item__img {
    max-width: 50px;
    width: 100%;
    height: auto;
    &--wind{
        max-width: 16px;
    }
}

// Media responsive

@media (max-width: 1050px) {
    .container{
        padding: 40px 25px 0;
    }
    .weather__items{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            background-color: transparent;
        }
    }
}
@media(max-width: 768px){
    .container{
        padding: 20px 20px 0;
    }
    .header__img{
        width: 60px;
    }
    .header__item{
        gap: 15px;
    }
    .weather__form{
        margin-bottom: 30px;
        flex-direction: column;
    }
    .weather__input{
        height: 50px;
        font-size: 18px;
    }
    .weather__submit{
        width: 50px;
        height: 50px;
        &::after{
            bottom: 13px;
            right: 30px;
        }
        &::before{
            bottom: 13px;
            right: 19px;
        }
    }
    .header__city{
        font-size: 24px;
    }
    .header__degrees{
        font-size: 68px;
    }
    .header__weather{
        font-size: 20px;
    }
    .main{
        margin-top: 50px;
    }
    .main__title{
        font-size: 20px;
    }
    .weather__items{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .weather__item{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        width: 100%;
        height: auto;
    }
    .weather__day{
        width: 80px;
    }
    .weather__img{
        max-width: 40px;
    }
    .weather__degrees{
        width: 100px;
        justify-content: space-evenly;
    }
    .footer__title{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__details{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer__items{
        max-width: none;
    }
    .footer__sunrise{
        flex-direction: row;
        justify-content: space-around;
        gap: 20vw;
    }
    .item__text{
        font-size: 20px;
    }
}